/* font-family */
body{
    font-family: 'Open Sans', sans-serif;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.title{
    color: black;
    font-size: 40px;
    font-weight: 600;
}
.primary{
    color: blue;
}
.btn-primary{
   background-color: rgb(255, 35, 35);
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    font-weight: 600;
    color: white;
    padding: 15px 35px;
}

nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
} 
nav a{
    text-decoration: none;
    margin-right: 40px;
}
/* header style */
.header{
    background-color: rgb(248, 248, 246);
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}
.banner{
    padding: 30px 30px 0px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 500px;
}
.banner-welcome{
    font-size: 45px;
    color: rgb(46, 44, 44);
    margin-bottom: 0;
}
.banner-name{
    font-size: 55px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}
.banner .profile-pic{
    width: 500px;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
}
/* section styles */
.about{
    padding: 130px;
    background: rgb(247, 245, 243);
    border-radius: 10px;
    margin: 130px 0;
}
.section-title{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}
.section-description{
    font-size: 18px;
    text-align: center;

}
.about-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
#can-i{
    padding: 10px 30px;
}
.skill-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 6px 50px 0px grey;
}
.skill-description{
    color: rgb(54, 53, 53);
}
.resume-title{
    font-size: 40px;
    font-weight: 700;
    color: rgb(66, 62, 62);
}
.resume-container{
    display: flex;
    gap: 50px;
}
.resume-container hr{
    margin: 20px;
}
.resume-item-info, .resume-item-description{
    color: grey;
}
.download-cv{
    text-align: center;
    margin-top: 30px;
}
/* footer styles */
footer{
    display: flex;
    background: whitesmoke;
    margin-top: 100px;
    padding: 100px 50px;
    gap: 100px;
}
.footer-column{
    width: 50%;
}
.social-link a{
    margin-right: 25px;
    
}
.contact input[type="text"], .contact input[type="email"], textarea{
    display: block;
    margin-bottom: 20px;
    padding: 18px 35px;
    color: rgb(58, 56, 53);
    border-radius: 5px;
    border: 0;
    background: white;
   
}